.nav{
margin: 50px auto 0px auto;
padding:15px;
width: 960px;
height: 35px;
}
.nav-ul{
display: inline;
font-size:24px;
text-decoration: underline;
}
.nav-li{
padding:25px;
display:inline;
}
#page{
width: 960px;
margin: 0px auto 0px auto; 

}
#portrait{
width:100px;
height:100px;
margin: 20px auto 0px 250px;
padding:30px;
border: 5px groove black;
background-color: #d5f5f5;
}
#home-content-shift-right{
margin: 25px auto 0px 240px;
font-family: Futura,"Trebuchet MS",Arial,sans-serif;
color: #6d929b;
}
#home-content-shift-left{
margin: 25px auto 0px 0px;
font-family: Futura,"Trebuchet MS",Arial,sans-serif;
color: #283A3E;
}